## By now, we've learnt about

In [ ]:
# a- Python's syntaxes
# b- if, elif and else statements
# c- functions

#Today we will talk about 'sequences' in Pyhton

# Three types of sequence in Python
# 1- List
# 2- Tuple
# 3- Dictionary

### 1- Lists in Python

In [2]:
Family1 = ['حسن', 'رضا', 'سعید', 'مریم', 'مژگان']
Family2 = ['John', 'Josh', 'Mary', 'David', 'Tara']
Family1

['حسن', 'رضا', 'سعید', 'مریم', 'مژگان']

In [7]:
# difficulties in working with persian names
Family1[2]
#Family2[4]

'سعید'

In [8]:
Family2[-1], Family2[-2], Family2[-3], Family2[-4], Family2[-5]

('Tara', 'David', 'Mary', 'Josh', 'John')

In [9]:
# removing one item from a list
del Family2[1]
Family2

['John', 'Mary', 'David', 'Tara']

In [10]:
# replacing in lists
Family2[1] = 'Sara'
Family2

['John', 'Sara', 'David', 'Tara']

In [13]:
# .append(add) method
Family2.append(['Donald', 'Hilari'])
Family2

['John',
 'Sara',
 'David',
 'Tara',
 'Barak',
 'Donald',
 'Hilari',
 ['Donald', 'Hilari']]

In [26]:
# with .extend method we can append a list  
Family2.extend(['Donald', 'Hilari'])
Family2

['John',
 'Sara',
 'David',
 'Tara',
 'Barak',
 'Donald',
 'Hilari',
 ['Donald', 'Hilari'],
 'Donald',
 'Hilari']

In [24]:
# note that we can only add 'string' values to each other 
print('The first family member in Family2 is ' + Family2[1] + '.')

The first family member in Family2 is Sara.

In [27]:
# len() can give the length of a list to us
len("Hello"), len(Family2)

(5, 10)

In [28]:
# list slicing
Family2[1:3]

['Sara', 'David']

In [29]:
Family2[:3]

['John', 'Sara', 'David']

In [30]:
Family2[6:], Family2[-2:]

(['Hilari', ['Donald', 'Hilari'], 'Donald', 'Hilari'], ['Donald', 'Hilari'])

In [31]:
# index of names
Family2.index('Barak')

4

In [32]:
# mixing two or more lists
Family3 = ['Leila', 'Hans']
Family = [Family2 , Family3]
Family

[['John',
  'Sara',
  'David',
  'Tara',
  'Barak',
  'Donald',
  'Hilari',
  ['Donald', 'Hilari'],
  'Donald',
  'Hilari'],
 ['Leila', 'Hans']]

In [35]:
# sorting in lists
Family4 = ['4', '3', '0', '9']
Family4.sort()
Family4

['0', '3', '4', '9']

In [36]:
Family4.sort(reverse=True)
Family4

['9', '4', '3', '0']

### 2- Tuples in Python

In [38]:
# Tuples are a type of data sequence 
# BUT unlike the lists, they are immutable (we can not change them) 
x = (1, 2, 3)
y = 3, 2, 1
y

(3, 2, 1)

In [42]:
y[2]

1

In [43]:
z = [x, y]
z

[(1, 2, 3), (3, 2, 1)]

In [48]:
# .split method for tuples
(age, year) = "30, 2020".split(",")
type(print(age))

30

NoneType

### 3- Dictionaries in Python

In [49]:
# last but not least
# dictionaries
# in each dictionary we have keys and respective values 

Friends = {'k1' : 'Amin', 'k2' : 'Majid', 'k3' : 'Mohammad'}
Friends

# 'k1' is a key and 'Amin' is its respective value

{'k1': 'Amin', 'k2': 'Majid', 'k3': 'Mohammad'}

In [53]:
Friends['k2']

'Majid'

In [54]:
# adding another key to our dictionary
Friends['k4'] = 'Sara'
Friends

{'k1': 'Amin', 'k2': 'Majid', 'k3': 'Mohammad', 'k4': 'Sara'}

In [55]:
# replacing one of our keys
Friends['k2'] = 'Mahsa'
Friends

{'k1': 'Amin', 'k2': 'Mahsa', 'k3': 'Mohammad', 'k4': 'Sara'}

In [56]:
# values in the form of lists

Univ = {'dep1' : 'Hadi', 'dep2' : ["Amin", "Sara", "Mahsa"]}
Univ['dep2']

['Amin', 'Sara', 'Mahsa']

In [57]:
# making dictionaries step by step

Team = {}
Team['A'] = "Amin"
Team['B'] = "Behnam"
Team['C'] = "Cyrus the great"
Team

{'A': 'Amin', 'B': 'Behnam', 'C': 'Cyrus the great'}

In [60]:
Team.get('B')

'Behnam'

In [61]:
# .get method has some benefits  
print(Team.get('D'))

None

In [62]:
Team["D"]

KeyError: 'D'

### Now you should ROLL UP YOUR SLEEVES and practice. See you soon guys